<!DOCTYPE html>
<html
	th:replace="~{base/_layout :: layout(~{::title}, ~{::section}, ~{}, ~{})}"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Contatos</title>
</head>

<body>
	<section>
  <div class="card">
  <div class="card-body">
		<h4>Deseja realmente excluir este contato?</h4>
		<div class="row g-3" th:object="${contato}">

			<div class="mb-3">
				<label for="nome" class="form-label">Nome:</label> 
               <textarea class="form-control" id="nome" rows="3" disabled></textarea>
        
			</div>

			<div class="mb-3">
				<label for="endereco" class="form-label">Endereco:</label> 
                <textarea class="form-control" id="endereco" rows="3" disabled></textarea>
                
			</div>

			<div class="mb-3">
				<label for="telefone" class="form-label">Telefone:</label> 
               <textarea class="form-control" id="telefone" rows="3" disabled></textarea>
              
			</div>

			<div class="mb-3">
				<label for="email" class="form-label">E-mail:</label>
			</div>

			<div class="input-group">
				<span class="input-group-text" id="basic-addon1">@</span> <input
					type="text" class="form-control" placeholder="E-mail"
					th:field="*{email}" disabled>
			</div>

			<form class="row g-3" method="POST" th:action="@{/contato/delete}">
				<input type="hidden" th:field="*{id}">
				<div class="col-1">
					<a th:href="@{/contato/index}" class="btn btn-primary mb-3">Voltar</a>
				</div>
				<div class="col-1">
					<button type="submit" class="btn btn-primary btn-danger">Excluir</button>
				</div>
			</form>

		</div>
    </div>
    </div>

	</section>
</body>

</html>
